/* Hero.css */

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;500;600&display=swap");
.hero {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    /* Animated Soft Background */
    background-color: #faf4ec;
    animation: bgColorShift 20s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: background-color 2s ease;
}


/* Grid Background */

.hero-grid {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(233, 6, 6, 0.065) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 19, 19, 0.065) 1px, transparent 1px);
    background-size: 70px 70px;
}


/* Main Content */

.hero-content {
    position: relative;
    z-index: 5;
    text-align: center;
    max-width: 1200px;
}

.hero-content h1 {
    font-family: "Anton", sans-serif;
    font-size: clamp(70px, 11vw, 180px);
    line-height: 1.1;
    letter-spacing: -3px;
    color: black;
    margin: 0;
    text-transform: uppercase;
}

.hero-content h1 span {
    background: #df5dbc;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-content p {
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: #333;
}


/* Button */

.hero-btn {
    margin-top: 20px;
    border: 3px solid black;
    background: rgb(224, 15, 15);
    border-radius: 999px;
    padding: 18px 34px;
    font-family: "Anton", sans-serif;
    font-size: 24px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    box-shadow: 6px 6px 0px black;
    transition: 0.2s ease;
}

.hero-btn:hover {
    transform: translate(-2px, -2px);
    box-shadow: 10px 10px 0px black;
}

.hero-btn span {
    background: #ffe600;
    padding: 8px 12px;
    border-radius: 999px;
    font-size: 16px;
}


/* Floating Cards */

.creator-card {
    position: absolute;
    width: 180px;
    border-radius: 26px;
    overflow: hidden;
    transform: rotate(-8deg);
    z-index: 3;
}

.creator-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    filter: grayscale(1);
}

.creator-card span {
    /* HTML: <div class="pacman"></div> */
    .pacman {
        height: 200px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: radial-gradient(6% 6% at 60% 25%, #000 90%, #0000), radial-gradient(circle at 35% 35%, #0000, 70%, #0005) #fc0;
        clip-path: polygon(0 0, 100% 0, 100% 25%, 50% 50%, 100% 75%, 100% 100%, 0 100%);
    }
}

.card-left {
    left: 7%;
    bottom: 10%;
    background: #ffd91f;
}

.card-right {
    right: 7%;
    bottom: 12%;
    background: #ff5a1f;
    transform: rotate(8deg);
}

.card-right span {
    background: transparent;
}


/* Decorative Shapes */

.shape {
    position: absolute;
    z-index: 3;
}

/* Giant Neon Star */
.orange-star {
    position: absolute;
    width: 550px;
    height: 550px;
    top: 15%;
    left: 80%;
    transform: rotate(-10deg);
    filter: drop-shadow(10px 10px 0px #000000);
    z-index: 3;
}

/* White Star Outline */
.star-outline {
    width: 140px;
    height: 140px;
    top: 8%;
    left: 22%;
    transform: rotate(-10deg);
    filter: drop-shadow(10px 10px 0px #000000);
    z-index: 3;
}

.globe {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #ff5722;
    border: 4px solid #000000;
    bottom: 24%;
    left: 30%;
    transform: rotate(-10deg);
    box-shadow: 12px 12px 0px #000000;
    z-index: 3;
}

/* Thunder Shape */
.green-shape {
    position: absolute;
    width: 110px;
    top: 18%;
    left: 12%;
    height: 180px;
    transform: rotate(-10deg);
    filter: drop-shadow(10px 10px 0px #000000);
    z-index: 3;
}

/* Lavender Blob */
.blob {
    height: 120px;
    width: 120px;
    top: 12%;
    right: 15%;
    transform: rotate(-10deg);
    filter: drop-shadow(10px 10px 0px #000000);
    z-index: 3;
}

/* Neon Puddle Patch Shape */
.neon-puddle {
    position: absolute;
    width: 120px;
    height: 70px;
    background: #d9ff00;
    top: 68%;
    left: 15%;
    border-radius: 46% 54% 68% 32% / 42% 58% 42% 58%;
    border: 4px solid #000000;
    transform: rotate(-10deg);
    box-shadow: 12px 12px 0px #000000;
    z-index: 3;
}

/* Cyan Circle Shape */
.blob-shape {
    height: 95px;
    top: 8%;
    right: 18%;
    width: 95px;
    background: #24fcb4;
    border-radius: 50%;
    border: 4px solid #000000;
    transform: rotate(-10deg);
    box-shadow: 12px 12px 0px #000000;
    z-index: 3;
}

/* Blue Starburst */
.starburst {
    height: 160px;
    top: 82%;
    left: 80%;
    width: 160px;
    transform: rotate(-10deg);
    filter: drop-shadow(10px 10px 0px #000000);
    z-index: 3;
}

.scalloped-shape {
    --r: 20px;
    width: 140px;
    aspect-ratio: 1;
    top: 18%;
    right: 12%;
    background: #ffd500;
    border-radius: 20px;
    border: 4px solid #000000;
    transform: rotate(-10deg);
    box-shadow: 12px 12px 0px #000000;
    z-index: 3;
}

/* White Wiggly Star */
.wiggly-shape {
    position: absolute;
    width: 180px;
    height: 180px;
    bottom: 12%;
    left: 10%;
    transform: rotate(-10deg);
    filter: drop-shadow(10px 10px 0px #000000);
    z-index: 3;
}


/* ANIMATION */

@keyframes blobMove {
    0% {
        border-radius: 40% 60% 70% 30% / 40% 30% 70% 60%;
    }
    50% {
        border-radius: 70% 30% 40% 60% / 60% 40% 30% 70%;
    }
    100% {
        border-radius: 40% 60% 70% 30% / 40% 30% 70% 60%;
    }
}

@keyframes bgColorShift {
    0% {
        background-color: #FF8743;
    }
    20% {
        background-color: #EFFF82;
    }
    /* 40% {
        background-color: #0BA13B;
    } */
    /* 60% {
        background-color: #518A9E;
    } */
    80% {
        background-color: #fff5e3;
    }
    100% {
        background-color: #eb4ff9cb;
    }
}